@import "tailwindcss";

button {
    cursor: pointer;
}

.sx-react-calendar-wrapper {
    width: 100%;
    max-width: 100vw;
    height: 800px;
    max-height: 100vh;
}

.sx__week-grid__date--is-today>.sx__week-grid__day-name {
    color: black !important;
}

.sx__week-grid__date--is-today>.sx__week-grid__date-number {
    background-color: #f97316 !important;
}

.sx__time-grid-event {
    background-color: #ffdbc1 !important;
    border-color: #f97316 !important;
    color: #de5c00 !important;
}

.sx__event-icon {
    padding: 0 !important;
    color: #f97316 !important;
}

.sx__event-modal__color-icon {
    background-color: #f97316 !important;
}

@source "../node_modules/@ilamy/calendar/dist";